<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="grant_type" value="client_credentials"/>
    <add key="client_id" value="example_id"/>
    <add key="client_secret" value="7cbe80709c9eab855e14ac10adc250ea"/>
    <add key="name" value="tiNi example clients"/>
    <add key="scope" value="*"/>
  </appSettings>
</configuration>